* {
  margin: 0;
  padding: 0;
}

html,
body,
#app,
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  zoom: 1;
}

a {
  text-decoration: none
}

.crumbs {
  margin-bottom: 20px;
}

.crumbs i {
  font-size: 14px;
}

.el-table .cell .el-select .is-disabled .el-input__suffix {
  display: none !important;
}

.el-table .caret-wrapper {
  width: 10px !important;
}

.el-table .caret-wrapper i {
  left: 3px;
}

.el-table .cell .el-select input {
  padding: 0 15px;
}

.el-table .cell .el-select .el-input.is-disabled .el-input__inner {
  background-color: transparent !important;
  border: none !important;
  color: #000 !important;
  cursor: default !important;
  padding: 0 10px;
  text-align: center;
}

.el-select__tags > input {
  width: 10% !important;
}

.el-table .cell {
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  padding: 0 5px !important;
}

.el-table .el-button {
  padding: 5px 10px;
}

.el-table .el-button--text {
  padding: 0;
}

.el-table .cell .el-button + .el-button {
  margin-left: 2px !important;
}

.el-table .cell .el-select,
.el-table .cell .el-input {
  width: 100% !important;
}

.el-popover .el-form .el-form-item__content {
  line-height: 28px;
}

.el-popover textarea {
  border-radius: 0;
  cursor: initial !important;
  padding: 10px;
}

.el-popover .el-form .el-form-item {
  margin-bottom: 0;
}

.el-popover .el-form .el-input,
.el-popover .el-form .el-select {
  width: 95%;
}

.el-button .iconfont {
  font-size: unset;
}

.el-button .iconfont+span {
  margin-left: 5px;
}

.el-popover .el-form .el-input input,
.el-popover .el-form .el-select input,
.sepp-table-expand .el-form .el-input input,
.sepp-table-expand .el-form .el-select input {
  background-color: transparent;
  border: none;
  float: right;
  cursor: initial !important;
  color: #3AB4D7;
  font-size: 12px;
}

.sepp-table-expand .el-input,
.sepp-table-expand .el-select {
  width: 180px;
}

.sepp-table-expand .el-input input,
.sepp-table-expand .el-select input {
  color: #4d535f !important;
  cursor: default !important;
}

.sepp-table-expand .el-form-item .el-select .el-input__suffix,
.el-popover .el-form .el-select .el-input__suffix {
  display: none !important;
}

.page-set {
  margin: 10px 0 -10px 0;
}

.page-set .export-tips {
  height: 28px;
  line-height: 28px;
  float: right;
  margin-right: 10px;
  color: #909399;
}

.page-set .export-tips span {
  color: #909399;
}

.page-set .el-select .el-input {
  width: 120px !important;
}

.page-set .el-input {
  width: 50px !important;
}

.page-set .el-select .el-input__suffix {
  display: inline-block !important;
}

.page-set .el-pagination {
  display: inline-block !important;
}

.page-set .el-pagination * {
  height: 24px !important;
  line-height: 24px !important;
  font-size: 12px !important;
}

.page-set .export-btn {
  float: right !important;
  padding: 6px 12px !important;
}

.sepp-table-expand {
  font-size: 0;
}

.sepp-table-expand label {
  width: 110px;
  color: #31394a;
}

.sepp-table-expand .el-form-item {
  margin-right: 10px;
  margin-bottom: 5px;
}

.sepp-table-expand .el-form-item__content {
  line-height: 20px;
}

.el-collapse .el-collapse-item__arrow {
  font-weight: 600;
  line-height: 45px;
}

.el-collapse .el-collapse-item__header {
  font-weight: 600;
  font-size: 14px;
}

.table-content-tips {
  color: #3AB4D7;
  cursor: pointer;
  padding: 0 5px;
}

.table-content-tips:hover {
  color: #61c3df;
}

.el-upload-list {
  overflow-y: auto;
  max-height: 150px;
}

.comp-full-calendar {
  padding: 0 !important;
  max-width: 4096px !important;
}

.comp-full-calendar .full-calendar-header {
  border-left: 1px solid #e4edf3;
  border-right: 1px solid #e4edf3;
  border-top: 1px solid #e4edf3;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 40px;
  line-height: 40px;
}

.comp-full-calendar .full-calendar-header .header-center {
  flex: 1 !important;
}

.comp-full-calendar .full-calendar-body {
  margin-top: 0px !important;
}

.comp-full-calendar .day-cell {
  min-height: 110px !important;
}

.comp-full-calendar .events-day {
  min-height: 119px !important;
  background-color: #4d5a6b;
  border-right: 1px solid #e4edf3;
  border-bottom: 1px solid #e4edf3;
}

.comp-full-calendar p {
  color: #FFF !important;
  opacity: 1 !important;
}

.comp-full-calendar .events-week .today {
  background-color: #59768899 !important;
}

.comp-full-calendar .cal-items {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 20px !important;
  line-height: 20px !important;
  background-color: #778899 !important;
  color: #fff !important;
  font-size: 13px !important;
  font-weight: 600 !important;
}

.comp-full-calendar .more-link {
  margin-top: 5px;
}

.comp-full-calendar .more-events {
  width: 300px !important;
}

.comp-full-calendar .more-body {
  background-color: #fff !important;
  height: 250px !important;
}

.comp-full-calendar .more-body .body-list {
  height: 245px !important;
}

.comp-full-calendar .more-events .body-item {
  background-color: #778899 !important;
  color: #fff !important;
  font-size: 13px !important;
  height: 25px !important;
  line-height: 25px !important;
  font-weight: 600 !important;
  border-radius: 2px;
}

.el-loading-spinner .el-loading-text {
  font-size: 18px !important;
  margin-top: 5px !important;
}

.el-icon-loading {
  margin-top: 0 !important;
  font-size: 30px !important;
}

/* 摘自theme chalk，自定义el-form、el-table、el-menu */
/* 重新生成index.css之后需要删除其中el-form、el-table、el-menu部分*/
.el-menu {
  border-right: solid 1px #e6e6e6;
  list-style: none;
  position: relative;
  margin: 0;
  padding-left: 0;
  background-color: #112c46
}

.el-menu::after, .el-menu::before {
  display: table;
  content: ""
}

.el-menu::after {
  clear: both
}

.el-menu li {
  list-style: none
}

.el-menu--horizontal {
  border-right: 0;
  border-bottom: solid 1px #e6e6e6
}

.el-menu--horizontal .el-menu-item {
  float: left;
  height: 60px;
  line-height: 60px;
  margin: 0;
  cursor: pointer;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
  color: #909399
}

.el-menu--horizontal .el-menu-item a, .el-menu--horizontal .el-menu-item a:hover {
  color: inherit
}

.el-menu--horizontal .el-menu-item:focus, .el-menu--horizontal .el-menu-item:hover {
  background-color: #fff
}

.el-menu--horizontal .el-submenu {
  float: left;
  position: relative
}

.el-menu--horizontal .el-submenu:focus {
  outline: 0
}

.el-menu--horizontal .el-submenu:focus > .el-submenu__title {
  color: #fff
}

.el-menu--horizontal .el-submenu > .el-menu {
  position: absolute;
  top: 65px;
  left: 0;
  border: 0;
  padding: 5px 0;
  background-color: #fff;
  z-index: 100;
  min-width: 100%;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  border-radius: 2px
}

.el-menu--horizontal .el-submenu .el-submenu__title {
  height: 60px;
  line-height: 60px;
  border-bottom: 2px solid transparent;
  color: #909399
}

.el-menu--horizontal .el-submenu .el-submenu__title:hover {
  background-color: #456789
}

.el-menu--horizontal .el-submenu .el-menu-item {
  background-color: #fff;
  float: none;
  height: 36px;
  line-height: 36px;
  padding: 0 10px
}

.el-menu--horizontal .el-submenu .el-submenu__icon-arrow {
  position: static;
  vertical-align: middle;
  margin-left: 8px;
  margin-top: -3px
}

.el-menu--horizontal .el-menu-item:focus, .el-menu--horizontal .el-menu-item:hover, .el-menu--horizontal .el-submenu__title:hover {
  outline: 0;
  color: #fff
}

.el-menu--horizontal > .el-menu-item.is-active, .el-menu--horizontal > .el-submenu.is-active .el-submenu__title {
  border-bottom: 2px solid #3dd281;
  color: #fff
}

.el-menu--collapse {
  width: 60px
}

.el-menu--collapse > .el-menu-item [class^=el-icon-], .el-menu--collapse > .el-submenu > .el-submenu__title [class^=el-icon-] {
  margin: 0;
  vertical-align: middle;
  width: 24px;
  text-align: center
}

.el-menu--collapse > .el-menu-item .el-submenu__icon-arrow, .el-menu--collapse > .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
  display: none
}

.el-menu--collapse > .el-menu-item span, .el-menu--collapse > .el-submenu > .el-submenu__title span {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  display: inline-block
}

.el-menu--collapse > .el-menu-item.is-active i {
  color: inherit
}

.el-menu--collapse .el-menu .el-submenu {
  max-width: 200px
}

.el-menu--collapse .el-submenu {
  position: relative
}

.el-menu--collapse .el-submenu .el-menu {
  position: absolute;
  margin-left: 5px;
  top: 0;
  left: 100%;
  z-index: 10;
  border: 1px solid #e4e7ed;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1)
}

.el-menu-item, .el-submenu__title {
  height: 40px;
  line-height: 40px;
  padding: 0 20px !important;
  position: relative;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  white-space: nowrap
}

.el-menu--collapse .el-submenu.is-opened > .el-submenu__title .el-submenu__icon-arrow {
  -webkit-transform: none;
  transform: none
}

.el-menu-item {
  font-size: 14px;
  color: #303133;
  -webkit-transition: border-color .3s, background-color .3s, color .3s;
  transition: border-color .3s, background-color .3s, color .3s;
  box-sizing: border-box
}

.el-menu-item [class^=el-icon-] {
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle
}

.el-menu-item * {
  vertical-align: middle
}

.el-menu-item:first-child {
  margin-left: 0
}

.el-menu-item:last-child {
  margin-right: 0
}

.el-menu-item:focus, .el-menu-item:hover {
  outline: 0;
  background-color: #ecf5ff
}

.el-menu-item i {
  color: #909399
}

.el-menu-item.is-active {
  color: #add8e6 !important;
  background-color: #345678 !important;
  font-weight: 600
}

.el-menu-item.is-active i {
  color: inherit
}

.el-submenu__title {
  font-size: 14px;
  font-weight: 500;
  color: #F2F6FC;
  -webkit-transition: border-color .3s, background-color .3s, color .3s;
  transition: border-color .3s, background-color .3s, color .3s;
  box-sizing: border-box
}

.el-submenu__title * {
  vertical-align: middle
}

.el-submenu__title i {
  color: #F2F6FC;
  font-weight: 500
}

.el-submenu__title:hover {
  background-color: #456789
}

.el-submenu .el-menu {
  border: 0
}

.el-submenu .el-menu-item {
  height: 35px;
  line-height: 35px;
  padding: 0 40px;
  font-size: 13px
}

.el-submenu__icon-arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -7px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  font-size: 12px
}

.el-radio, .el-radio__inner, .el-radio__input {
  position: relative;
  display: inline-block
}

.el-submenu.is-active .el-submenu__title {
  border-bottom-color: #3dd281
}

.el-submenu.is-opened > .el-submenu__title .el-submenu__icon-arrow {
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg)
}

.el-submenu [class^=el-icon-] {
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px
}

.el-menu-item-group > ul {
  padding: 0
}

.el-menu-item-group__title {
  padding: 7px 0 7px 20px;
  line-height: normal;
  font-size: 12px;
  color: #909399
}

.el-radio, .el-radio--medium.is-bordered .el-radio__label {
  font-size: 14px
}

.horizontal-collapse-transition .el-submenu__title .el-submenu__icon-arrow {
  -webkit-transition: .2s;
  transition: .2s;
  opacity: 0
}

.CodeMirror .editor-preview img {
  max-width: 97.5% !important;
  margin-left: 2.5%;
}

.el-table, .el-table__expanded-cell {
  background-color: #fff
}

.el-select .el-tag__close.el-icon-close::before {
  display: block;
  -webkit-transform: translate(0, .5px);
  transform: translate(0, .5px)
}

.el-table {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  max-width: 100%;
  font-size: 14px;
  color: #000;
  border-radius: 2px
}

.el-table--mini, .el-table--small, .el-table__expand-icon {
  font-size: 13px
}

.el-table__empty-block {
  position: relative;
  min-height: 60px;
  text-align: center;
  width: 100%;
  height: 100%
}

.el-table__empty-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #909399
}

.el-table__expand-column .cell {
  padding: 0;
  text-align: center
}

.el-table__expand-icon {
  position: relative;
  cursor: pointer;
  color: #666;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  height: 20px
}

.el-table__expand-icon--expanded {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}

.el-table__expand-icon > .el-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -5px;
  margin-top: -5px
}

.el-table__expanded-cell[class*=cell] {
  padding: 20px 50px
}

.el-table__expanded-cell:hover {
  background-color: #f5f7fa !important
}

.el-table--fit {
  border-right: 0;
  border-bottom: 0
}

.el-table--fit td.gutter, .el-table--fit th.gutter {
  border-right-width: 1px
}

.el-table thead {
  color: #909399;
  font-weight: 500
}

.el-table thead.is-group th {
  background: #f5f7fa
}

.el-table th, .el-table tr {
  background-color: #fff
}

.el-table td, .el-table th {
  padding: 12px 0;
  min-width: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-overflow: ellipsis;
  vertical-align: middle;
  position: relative
}

.el-table th div, .el-table th > .cell {
  -webkit-box-sizing: border-box;
  display: inline-block
}

.el-table td.is-center, .el-table th.is-center {
  text-align: center
}

.el-table td.is-left, .el-table th.is-left {
  text-align: left
}

.el-table td.is-right, .el-table th.is-right {
  text-align: right
}

.el-table td.gutter, .el-table th.gutter {
  width: 15px;
  border-right-width: 0;
  border-bottom-width: 0;
  padding: 0
}

.el-table--medium td, .el-table--medium th {
  padding: 10px 0
}

.el-table--small td, .el-table--small th {
  padding: 8px 0
}

.el-table--mini td, .el-table--mini th {
  padding: 6px 0
}

.el-table .cell, .el-table th div {
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis
}

.el-table .cell, .el-table th div, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell {
  padding-left: 10px
}

.el-table tr input[type=checkbox] {
  margin: 0
}

.el-table td {
  border-bottom: 1px dashed #d9dacd
}

.el-table th.is-leaf {
  border-bottom: 1px solid #d9dacd
}

.el-table th.is-sortable {
  cursor: pointer
}

.el-table th {
  white-space: nowrap;
  overflow: hidden;
  user-select: none;
  text-align: center;
  background-color: #f5f7fa;
  color: #788288;
  border-bottom: 1px solid #d9dacd
}

.el-table thead tr th + th {
  margin-right: 1px
}

.el-table th div {
  line-height: 40px;
  box-sizing: border-box;
  white-space: nowrap
}

.el-table th > .cell {
  position: relative;
  word-wrap: normal;
  text-overflow: ellipsis;
  vertical-align: middle;
  width: 100%;
  box-sizing: border-box
}

.el-table th > .cell.highlight {
  color: #3dd281
}

.el-table th.required > div::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ff4d51;
  margin-right: 5px;
  vertical-align: middle
}

.el-table td div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.el-table td.gutter {
  width: 0
}

.el-table .cell {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: normal;
  word-break: break-all;
  line-height: 23px
}

.el-badge__content, .el-progress-bar__inner, .el-steps--horizontal, .el-table .cell.el-tooltip, .el-tabs__nav, .el-tag, .el-time-spinner, .el-tree-node, .el-upload-cover__title {
  white-space: nowrap
}

.el-table .cell.el-tooltip {
  min-width: 50px
}

.el-table--border, .el-table--group {
  border: 1px solid #d9dacd
}

.el-table--border::after, .el-table--group::after, .el-table::before {
  content: '';
  position: absolute;
  background-color: #d9dacd;
  z-index: 1
}

.el-table--border::after, .el-table--group::after {
  top: 0;
  right: 0;
  width: 1px;
  height: 100%
}

.el-table::before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px
}

.el-table--border {
  border-right: 0;
  border-bottom: 0
}

.el-table--border td, .el-table--border th {
  border-right: 1px solid #d9dacd
}

.el-table--border .has-gutter td:nth-last-of-type(2), .el-table--border .has-gutter th:nth-last-of-type(2) {
  border-right: 0
}

.el-table--border th.gutter:last-of-type {
  border-bottom: 1px solid #d9dacd;
  border-bottom-width: 1px
}

.el-table--border th, .el-table__fixed-right-patch {
  border-bottom: 1px solid #d9dacd
}

.el-table__fixed, .el-table__fixed-right {
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .12);
  box-shadow: 0 0 10px rgba(0, 0, 0, .12)
}

.el-table__fixed-right::before, .el-table__fixed::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #d9dacd;
  z-index: 4
}

.el-table__fixed-right-patch {
  position: absolute;
  top: -1px;
  right: 0;
  background-color: #fff
}

.el-table__fixed-right {
  top: 0;
  left: auto;
  right: 0
}

.el-table__fixed-right .el-table__fixed-body-wrapper, .el-table__fixed-right .el-table__fixed-footer-wrapper, .el-table__fixed-right .el-table__fixed-header-wrapper {
  left: auto;
  right: 0
}

.el-table__fixed-header-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3
}

.el-table__fixed-footer-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3
}

.el-table__fixed-footer-wrapper tbody td {
  border-top: 1px solid #d9dacd;
  background-color: #f5f7fa;
  color: #000
}

.el-table__fixed-body-wrapper {
  position: absolute;
  left: 0;
  top: 37px;
  overflow: hidden;
  z-index: 3
}

.el-table__body-wrapper, .el-table__footer-wrapper, .el-table__header-wrapper {
  width: 100%
}

.el-table__footer-wrapper {
  margin-top: -1px
}

.el-table__footer-wrapper td {
  border-top: 1px solid #d9dacd
}

.el-table__body, .el-table__footer, .el-table__header {
  table-layout: fixed
}

.el-table__footer-wrapper, .el-table__header-wrapper {
  overflow: hidden
}

.el-table__footer-wrapper tbody td, .el-table__header-wrapper tbody td {
  background-color: #f5f7fa;
  color: #000
}

.el-table__body-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative
}

.el-table__body-wrapper.is-scroll-left ~ .el-table__fixed, .el-table__body-wrapper.is-scroll-none ~ .el-table__fixed, .el-table__body-wrapper.is-scroll-none ~ .el-table__fixed-right, .el-table__body-wrapper.is-scroll-right ~ .el-table__fixed-right {
  -webkit-box-shadow: none;
  box-shadow: none
}

.el-picker-panel, .el-table-filter {
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1)
}

.el-table__body-wrapper .el-table--border.is-scroll-right ~ .el-table__fixed-right {
  border-left: 1px solid #d9dacd
}

.el-table__body-wrapper .el-table--border.is-scroll-left ~ .el-table__fixed {
  border-right: 1px solid #d9dacd
}

.el-table .caret-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 35px;
  width: 24px;
  vertical-align: middle;
  cursor: pointer;
  overflow: initial;
  position: relative
}

.el-table .sort-caret {
  width: 0;
  height: 0;
  border: 4px solid transparent;
  position: absolute;
  left: 7px
}

.el-table .sort-caret.ascending {
  border-bottom-color: #7c8c7e;
  top: 6px
}

.el-table .sort-caret.descending {
  border-top-color: #7c8c7e;
  bottom: 9px
}

.el-table .ascending .sort-caret.ascending {
  border-bottom-color: #3dd281
}

.el-table .descending .sort-caret.descending {
  border-top-color: #3dd281
}

.el-table .hidden-columns {
  position: absolute;
  z-index: -1
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #f3f5f1
}

.el-table--striped .el-table__body tr.el-table__row--striped.current-row td, .el-table__body tr.current-row > td, .el-table__body tr.hover-row.current-row > td, .el-table__body tr.hover-row.el-table__row--striped.current-row > td, .el-table__body tr.hover-row.el-table__row--striped > td, .el-table__body tr.hover-row > td {
  background-color: #ebeef5
}

.el-table__column-resize-proxy {
  position: absolute;
  left: 200px;
  top: 0;
  bottom: 0;
  width: 0;
  border-left: 1px solid #d9dacd;
  z-index: 10
}

.el-table__column-filter-trigger {
  display: inline-block;
  line-height: 34px;
  cursor: pointer
}

.el-table__column-filter-trigger i {
  color: #909399;
  font-size: 12px;
  -webkit-transform: scale(.75);
  transform: scale(.75)
}

.el-table--enable-row-transition .el-table__body td {
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease
}

.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #f5f7fa
}

.el-table--fluid-height .el-table__fixed, .el-table--fluid-height .el-table__fixed-right {
  bottom: 0;
  overflow: hidden
}

.el-table-column--selection .cell {
  padding-left: 14px;
  padding-right: 14px
}

.el-form--label-left .el-form-item__label {
  text-align: left
}

.el-form--label-top .el-form-item__label {
  float: none;
  display: inline-block;
  text-align: left;
  padding: 0 0 10px
}

.el-form--inline .el-form-item {
  display: inline-block;
  vertical-align: top
}

.el-form--inline .el-form-item__label {
  float: none;
  display: inline-block
}

.el-form--inline .el-form-item__content {
  display: inline-block;
  vertical-align: top
}

.el-form--inline.el-form--label-top .el-form-item__content {
  display: block
}

.el-form-item {
  margin-bottom: 22px
}

.el-form-item::after, .el-form-item::before {
  display: table;
  content: ""
}

.el-form-item::after {
  clear: both
}

.el-form-item .el-form-item {
  margin-bottom: 0
}

.el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
  margin-bottom: 12px
}

.el-form-item .el-input__validateIcon {
  display: none
}

.el-form-item--medium .el-form-item__content, .el-form-item--medium .el-form-item__label {
  line-height: 36px
}

.el-form-item--small .el-form-item__content, .el-form-item--small .el-form-item__label {
  line-height: 32px
}

.el-form-item--small .el-form-item__error {
  padding-top: 2px
}

.el-form-item--mini .el-form-item__content, .el-form-item--mini .el-form-item__label {
  line-height: 28px
}

.el-form-item--mini .el-form-item__error {
  padding-top: 1px
}

.el-form-item__label {
  text-align: right;
  vertical-align: middle;
  float: left;
  font-size: 14px;
  color: #000;
  line-height: 40px;
  padding: 0 12px 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.el-form-item__content {
  line-height: 40px;
  position: relative;
  font-size: 14px
}

.el-form-item__content::after, .el-form-item__content::before {
  display: table;
  content: ""
}

.el-form-item__content::after {
  clear: both
}

.el-form-item__error {
  color: #f56c6c;
  font-size: 12px;
  line-height: 1;
  padding-top: 4px;
  position: absolute;
  top: 100%;
  left: 0
}

.el-form-item__error--inline {
  position: relative;
  top: auto;
  left: auto;
  display: inline-block;
  margin-left: 10px
}

.el-form-item.is-required .el-form-item__label:before {
  content: '*';
  color: #f56c6c;
  margin-right: 4px
}

.el-form-item.is-error .el-input-group__append .el-input__inner, .el-form-item.is-error .el-input-group__prepend .el-input__inner {
  border-color: transparent
}

.el-form-item.is-error .el-input__validateIcon {
  color: #f56c6c
}

.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus {
  border-color: #67c23a
}

.el-form-item.is-success .el-input-group__append .el-input__inner, .el-form-item.is-success .el-input-group__prepend .el-input__inner {
  border-color: transparent
}

.el-form-item.is-success .el-input__validateIcon {
  color: #67c23a
}

.el-form-item--feedback .el-input__validateIcon {
  display: inline-block
}
